
@mixin big-button(){
    cursor: pointer;
    display: inline-block;
    padding: 1.2em;
    border-radius: 0.5em;

    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 2px 6px rgba(0,0,0,0.25);

    // Default color
    @include aLostMemory;
    // Allow passing mixin block to change color
    @content;

    &:hover {
        background-position: 0 -0.6em;
        background-repeat: repeat-x;
    }
}

@mixin thumb() {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    box-sizing: border-box;
    // Allow passing mixin block to adjust line-height
    @content;
    &:hover{
        cursor: pointer;
        background-position: 0 -16px;
        background-repeat: repeat-x;
    }
}

// Gradient
@mixin freshTurboscent {
    background: #F1F2B5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#F1F2B5 , #135058);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F1F2B5 , #135058);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@mixin aLostMemory {
    background-color: #FFB88C;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(#DE6262 , #FFB88C);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(#DE6262 , #FFB88C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
