$color-1: #D5FBFF;
$color-2: #9FBCBF;
$color-3: #647678;
$color-4: #2F3738;
$color-5: #59D8E5;
$divider: 8px;

@mixin freshTurboscent {
    background: #F1F2B5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#F1F2B5 , #135058);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F1F2B5 , #135058);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@mixin aLostMemory {
    background-color: #FFB88C;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(#DE6262 , #FFB88C);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(#DE6262 , #FFB88C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@import "compass";
@import "flexbox";
@import "component";

body {
    background-color: $color-1;
    margin: 0px;
    //background: url("../public/img/bg.jpg") 0 /cover fixed;
}
/*Surface*/
#surface {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;

    &.flex-center {
        @include flex-center();
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 0.5em;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    div.window {
        background-color: rgba(255,255,255, .7);
        border-radius: 0.5em;
        width: 75%;
        div.state {
            display: flex;
            justify-content: space-between;;
            padding-top: 0.5em;
            h2 {
                margin-left: 16px;
            }
            i {
                margin-right: 0.5em;
                @include thumb{
                    line-height: 23px;
                };
                @include aLostMemory

            }
        }
        div.wizard {
            padding: 1.5em 1em 1em 1em;

            input {
                font-size: 1.2em;
                // margin-left: 1em;
                text-align: center;
                background: rgba(0,0,0,0);
                border-width: 0 0 1px 0;
                min-width: 160px;
                max-width: 160px;
                text-align: left;
            }

            div.datepicker-wizard > div{
                @media screen and (max-width: 500px) {
                    width: 90% !important;
                }
            }

            div.btn-panel {
                padding-top: 3em;
                display: flex;
                div.button{
                    @include big-button {
                        @include aLostMemory;
                    }
                }
            }
        }
    }

}

div#app {
    // display: flex;
}
/*EditBox*/
div.editbox {
    display: flex;
    flex-direction: column;
    // position: fixed;
    right: 0;
    div#container{
        position: absolute;
        overflow: scroll;
        top: 64px;
    }
    div.datepicker-bar > div{
        @media screen and (max-width: 500px) {
            width: 128px !important;
        }
    }
    div.datepicker-ball > div{
        @media screen and (max-width: 500px) {
            width: 160px !important;
        }
    }
    div.colorpicker{
        position: absolute;
        display: inline-flex;
        height: 90px;
        width: 100%;
        margin-left: -16px;
        margin-top: -16px;
        z-index: 2;
        transition: width .5s ease-in;
        div.brick{
            flex: 1 1 0;
            &:hover{
                border: 3px outset gray;
                cursor: pointer;
            }
        }
    }
    .edit-row {
        border: 1px black solid;
        padding: 1em;

        &.edit-date {
            background-color: gray;
            display: flex;
            flex-direction: row;
            div.edit-row-detail {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &.ball-panel {
            background-color: $color-2;
        }

        label.edit-lbl {
            padding-right: 1em;
        }

        input {
            margin-right: 1em;
        }

        span.edit-lbl {
            padding-right: 1em;
        }

        span.edit-ball {
            margin-right: 1em;
            background: blue;
        }
    }

    div.btn-canvas {
        display: inline-block;
        padding: 0.5em;
        border: 1px black solid;
        border-radius: 0.5em;
        @include freshTurboscent;
    }

    div.btn-action {
        margin-top: -13px;
        left: 70%;
        position: relative;

        span.btn-plus {
            @include aLostMemory;
        }
    }
}

/*SVG*/
svg {
    // float: left;
}

circle.blue {
    fill: url("#blue");
}

circle.green {
    fill: url("#green");
}

circle.red {
    fill: url("#red");
}

.ball text {
    font-size: 18px;
    text-anchor: middle;
    stroke: gray;
    stroke-width: 0;
    fill: white;
}

line {
    stroke: gray;
    stroke-width: 8px;
}

text.clip-path {
    clip-path: url("#textClip");
}

.month text {
    font-size: 20px;
    text-anchor: middle;
    stroke: gray;
    stroke-width: 0;
    fill: black;
}

span.circle {
    @include thumb;
}
