$color-1: #D5FBFF;
$color-2: #9FBCBF;
$color-3: #647678;
$color-4: #2F3738;
$color-5: #59D8E5;
$divider: 8px;
$GRAY50: #FAFAFA;

$side-nav-width: 375px;

// Common
@import "component";
// Specific Component
@import "wizard";

body {
    background-color: $GRAY50;
    margin: 0px;
    //background: url("../public/img/bg.jpg") 0 /cover fixed;
}

/*EditBox*/
div.editbox {
    display: flex;
    flex-direction: column;
    // position: fixed;
    right: 0;
    div.appbar{
        // @media screen and (min-width: 1000px) {
        //
        // }
    }

    div#mask{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        transition: opacity .3s linear 0s;
    }

    div#side-nav{
        top: 0px;
        left: 0px;
        bottom: 0px;
        // position: absolute;
        position: fixed;
        overflow-y: auto;
        // top: 64px;
        max-height: 100%;
        background-color: white;
        transition: left .3s linear .3s;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        max-width: 372px;
        width: 80%;
        // Force show nav when wider than 1000px
        @media screen and (min-width: 1000px) {
            left: 0 !important;
            opacity: 1 !important;
        }
        .side-nav-wrapper{
            min-height: 100%;
        }
        .menu-item{
            position: relative;
            background-color: white!important;
        }
    }
    // General Panel
    .edit-row{
        border: 1px black solid;
        padding: 1em;
        .edit-lbl {
            padding-right: 1em;
        }
    }
        // Animation
    .edit-box-animation{
        transition: height .5s ease;
    }
    // Timeline Panel
    .edit-timeline{
        background-color: $color-2;
        position: relative;
        .edit-detail{
            // display: flex;
            // align-items: center;
            // justify-content: flex-end;
        }
        .edit-ball {
            margin-right: 1em;
            background: blue;
        }
        input {
            margin-right: 1em;
        }
        div.datepicker-ball > div{
            @media screen and (max-width: 500px) {
                width: 160px !important;
            }
        }
        div.colorpicker{
            position: absolute;
            display: inline-flex;
            height: 90px;
            width: 100%;
            margin-left: -16px;
            margin-top: -16px;
            z-index: 2;
            transition: width .5s ease-in;
            div.brick{
                flex: 1 1 0;
                &:hover{
                    border: 3px outset gray;
                    cursor: pointer;
                }
            }
        }
    }
    // Schedule Panel
    .edit-date{
        background-color: gray;
        display: flex;
        flex-direction: row;
        .edit-detail{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        div.datepicker-bar > div{
            @media screen and (max-width: 500px) {
                width: 128px !important;
            }
        }
    }
    // Trigger Canvas Re-Paint
    div.btn-canvas {
        display: inline-block;
        padding: 0.5em;
        border: 1px black solid;
        border-radius: 0.5em;
        @include freshTurboscent;
    }
}

/*SVG*/
div#graph {
    // Force show nav when wider than 1000px
    @media screen and (min-width: 1000px) {
        padding-left: $side-nav-width;
    }
    .graph-wrapper{
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        max-width: 600px;
        overflow-x: scroll;
    }
}

circle.blue {
    fill: url("#blue");
}

circle.green {
    fill: url("#green");
}

circle.red {
    fill: url("#red");
}

.ball text {
    font-size: 18px;
    text-anchor: middle;
    stroke: gray;
    stroke-width: 0;
    fill: white;
}

line {
    stroke: gray;
    stroke-width: 8px;
}

text.clip-path {
    clip-path: url("#textClip");
}

.month text {
    font-size: 20px;
    text-anchor: middle;
    stroke: gray;
    stroke-width: 0;
    fill: black;
}

span.circle {
    @include thumb;
}
